<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            text-align: center;
        }

    </style>
    <meta charset="UTF-8">
    <title>Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div id="container">
<!--    <h1>Brand List</h1>-->
<!--    <p><a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createNew">Create New Order</a></p>-->
<!--    <hr>-->
    <!--    <input type="text" id="search" name="search" placeholder="Search By name">-->
    <!--    <input onclick="findBrand()" type="submit" value="Search">-->
    <hr>
    <table id="orderList" class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>View</th>
        </tr>
        <tr th:each="x:${ordersPage}">
            <td th:text="${x.id}"></td>
            <td th:text="${x.user.fullName}"></td>
            <td th:text="${x.date}"></td>
            <td><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show_Form_Order_Detail"
                   th:attr="data-brands-id=''+${x.id}+''">view</a></td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#show_Form_Order_Detail').on('show.bs.modal', function (e) {
            let brandId = $(e.relatedTarget).data('brands-id')
            $.ajax({
                type: "GET",
                url: `/orderdetails/${brandId}`,
                success: function (data) {
                    $('#name_user_id').val(data.content[0].orders.user.fullName)
                    let content = `<tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>`;
                    for (let i = 0; i < data.content.length; i++) {
                        content += getContent(data.content[i])
                    }
                    let total = 0;
                    for (let i = 0; i < data.content.length; i++) {
                        total += data.content[i].product.sellPrice * data.content[i].quantity;
                    }
                    content += `<tr><td></td>
        <td></td>
        <td></td>
        <td colspan="3">Total: ${total}</td>
        </tr>`;
                    document.getElementById("list_product").innerHTML = content;
                }
            })
        });
    })

    function getContent(data) {
        return `<tr><td>${data.product.name}</td>
        <td>${data.product.sellPrice}</td>
        <td>${data.quantity}</td>
        <td>${data.product.sellPrice * data.quantity}</td></tr>`;
    }
</script>
<div class="modal fade" id="show_Form_Order_Detail" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showCate">Order Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name_user_id" class="col-form-label">full name:</label>
                        <input readonly type="text" class="form-control" id="name_user_id">
                    </div>
                    <div class="mb-3">
                        <table class="table table-striped table-hover" id="list_product">
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>