<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div id="productManager">
    <h1>Product list</h1>
    <!--    Create-->
    <button type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#createModal">
        Create
    </button>
    <div>
        <input id="search" type="text" placeholder="Search by product"/>
        <input onclick="searchByProduct()" id="bt_search" type="submit" value="Search"/>
    </div>
    <!--product list-->
    <table id="productList" class="table table-striped table-hover" border="1px">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Type</td>
            <td>Seat</td>
            <td>Color</td>
            <td>Quantity</td>
            <td>By Price</td>
            <td>Sell Price</td>
            <td>Brand</td>
            <td>Image</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="product,row: ${products}">
            <tr>
                <td th:text="${row.count}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.seat}"></td>
                <td th:text="${product.color.name}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.buyPrice}"></td>
                <td th:text="${product.sellPrice}"></td>
                <td th:text="${product.brand.name}"></td>
                <td>
                    <img th:each="img:${product.imageSet}" th:src="@{ '/../image/'+${img.image}}" alt="photo"
                         style="width: 200px ; height: 200px">
                </td>

                <td>
                    <button onclick="editProduct(this.id)" th:id="${product.id}" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#editModal">
                        Edit
                    </button>
                </td>
                <td>
                    <button onclick="deleteProduct(this.id)" th:id="${product.id}" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                </td>
            </tr>
        </th:block>
    </table>

    <!-- Modal -->
    <div id="modal"></div>
    <!-- Modal Create-->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create new</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" id="createName"></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><input type="text" id="createType"></td>
                        </tr>

                        <tr>
                            <td>Seat</td>
                            <td><input type="text" id="createSeat"></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><select id="createColor">
                                <option th:each="color:${colors}" th:text="${color.name}"
                                        th:value="${color.id}"></option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td><input type="text" id="createQuantity"></td>
                        </tr>
                        <tr>
                            <td>Buy Price</td>
                            <td><input type="text" id="createBuyPrice"></td>
                        </tr>
                        <tr>
                            <td>Sell Price</td>
                            <td><input type="text" id="createSellPrice"></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>
                                <select id="createBrand">
                                    <option th:each="brand:${brands}" th:text="${brand.name}"
                                            th:value="${brand.id}"></option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <button id="openAddNewImgModal_button" type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#createImgModal">
                                    Add new
                                </button>
                                <table id="table_showNameImg">

                                </table>
                            </td>
                    </table>

                    </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="createButton" type="button" class="btn btn-primary" onclick="addNewProduct()">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><input type="hidden" id="editId"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" id="editName"></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><input type="text" id="editType"></td>
                        </tr>

                        <tr>
                            <td>Seat</td>
                            <td><input type="text" id="editSeat"></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><select id="editColor">
                                <option th:each="color:${colors}" th:text="${color.name}"
                                        th:value="${color.id}" ></option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td><input type="text" id="editQuantity"></td>
                        </tr>
                        <tr>
                            <td>Buy Price</td>
                            <td><input type="text" id="editBuyPrice"></td>
                        </tr>
                        <tr>
                            <td>Sell Price</td>
                            <td><input type="text" id="editSellPrice"></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>
                                <select id="editBrand">
                                    <option th:each="brand:${brands}" th:text="${brand.name}"
                                            th:value="${brand.id}"></option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <form method="post" enctype="multipart/form-data" id="editFileUploadForm">
                                    <img id="imgEdit1">
                                    <input type="file" name="files" id="editInputImg1">
                                    <img id="imgEdit2">
                                    <input type="file" name="files" id="editInputImg2">
                                </form>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="updateButton" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- delete modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><input type="hidden" value="${data.id}" id="deleteId"></td>
                        </tr>
                        <tr>
                            <td>Product Name</td>
                            <td><input type="text" id="deleteName" readonly></td>
                        </tr>
                        <tr>
                            <td><span>Are you sure to delete??</span></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="deleteButton" type="button" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- create new image modal -->
    <div class="modal fade" id="createImgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalImgLabel">Create new</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" id="fileUploadForm">
                        <input type="file" name="files" id="addNewImage_file"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="createImgButton" type="button" class="btn btn-primary">Create
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">

    var newImageSet = [];


    $(document).ready(function () {
        $("#createImgButton").click(function (event) {
            let form = $('#fileUploadForm')[0];

            let data = new FormData(form);

            data.append("CustomField", "This is some extra data, testing");

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/api/upload/multi",
                data: data,
                //http://api.jquery.com/jQuery.ajax/
                //https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {

                    let str = "";
                    for (let i = 0 ; i< newImageSet.length;i++){
                        str += newImageSet[i]+',';
                    }
                    console.log("newImageSet -->",str)

                    let jsonImage = {};

                    for (let i = 0; i < data.length; i++) {

                        jsonImage.id = data[i].id;
                        jsonImage.image = data[i].image;
                        console.log("new json ",i,"--->", jsonImage.image);

                    }

                    newImageSet.push(jsonImage);
                    jsonImage = {};

                    for (let i = 0 ; i< newImageSet.length;i++){
                        str += newImageSet[i]+',';
                    }
                    console.log("newImageSet -->",str);

                    $('#addNewImage_file').val('');
                    $('#createImgModal').modal('hide');
                    successAddNewImgHandler();
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
            // fire_ajax_submit();
            //stop submit the form, we will post it manually.
            event.preventDefault();


        });

    });
    function successAddNewImgHandler(){
        let content1 = ``;

        for (let i = 0; i < newImageSet.length; i++) {
            console.log("name of image ",i,"----->",newImageSet[i].image);
            content1 += `<tr>
                            <td><p>${newImageSet[i].image}</p></td>
                        </tr>`
        }
        document.getElementById('table_showNameImg').innerHTML = content1;
    }
    function addNewProduct() {
                let name = $("#createName").val();
                let type = $("#createType").val();
                let quantity = $("#createQuantity").val();
                let seat = $("#createSeat").val();
                let color = $("#createColor").val();
                let buyPrice = $("#createBuyPrice").val();
                let sellPrice = $("#createSellPrice").val();
                let brand = $('#createBrand').val();

                let newProduct = {
                    name: name,
                    type: type,
                    seat: seat,
                    color: {
                        id: color
                    },
                    buyPrice: buyPrice,
                    sellPrice: sellPrice,
                    quantity: quantity,
                    brand: {
                        id: brand
                    },
                    imageSet: newImageSet
                }
                $("#createName").val("");
                $("#createType").val("");
                $("#createQuantity").val("");
                $("#createSeat").val("");
                $("#createBuyPrice").val("");
                $("#createSellPrice").val("");
                $("#table_showNameImg").html("");
                newImageSet=[];
                //goi ajax
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify(newProduct),
                    // API
                    url: "/products",
                    //su ly khi thanh cong
                    success: successHandler
                })
    }

    //--ve thong tin smartphone
    function getProduct(product) {
        let str = "";
        if (product.imageSet.length > 0) {
            product.imageSet.forEach(value =>
                str += `<img style="width: 200px ; height: 200px"src="/../image/${value.image}">`);
        }
        // <img th:each="img:${product.imageSet}" th:src="@{'/resources/static/image/' + ${img.image}}" alt="photo">

        return `<tr>
                    <td >${product.name}</td>
                    <td >${product.name}</td>
                    <td >${product.type}</td>
                    <td >${product.seat}</td>
                    <td >${product.color.name}</td>
                    <td >${product.quantity}</td>
                    <td >${product.buyPrice}</td>
                    <td >${product.sellPrice}</td>
                    <td >${product.brand.name}</td>
                    <td >` +
            `${str}`
            + `</td>` +
            `<td>
                         <button onclick="editProduct(this.id)" id="${product.id}"  type="button" class="btn btn-primary"
                              data-bs-toggle="modal" data-bs-target="#editModal">
                                 Edit
                         </button>
                    </td>
                    <td>
                         <button onclick="deleteProduct(this.id)" id="${product.id}" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">
                             Delete
                         </button>
                    </td>
                 </tr>`;
    }

    //--succcessHandler
    function successHandler() {

        $('#editModal').modal('hide');
        $('#createModal').modal('hide');
        $('#deleteModal').modal('hide');

        $.ajax({
            type: "get",
            url: "/products",
            success: function (data) {
                let content1 = `<tr>
                                  <td>#</td>
                                  <td>Name</td>
                                  <td>Type</td>
                                  <td>Seat</td>
                                  <td>Color</td>
                                  <td>Quantity</td>
                                  <td>By Price</td>
                                  <td>Sell Price</td>
                                  <td>Brand</td>
                                  <td>Image</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                               </tr>`;

                for (let i = 0; i < data.content.length; i++) {
                    content1 += getProduct(data.content[i]);
                }
                document.getElementById('productList').innerHTML = content1;

            }

        });

    }

    // edit

    function editProduct(id) {
        $('#editInputImg1').val("");
        $('#editInputImg2').val("");

        let url = "/products/" + id;
        $.ajax({
            type: "get",
            url: url,
            success: function (data) {
                let modal = document.getElementById("modal");
                $('#editId').val(data.id);
                $('#editName').val(data.name);
                $('#editType').val(data.type);
                $('#editSeat').val(data.seat);
                $('#editColor').val(data.color);
                $('#editQuantity').val(data.quantity);
                $('#editBuyPrice').val(data.buyPrice);
                $('#editSellPrice').val(data.sellPrice);
                $('#editBrand').val(data.brand);


                $(document).ready(function () {
                    $("#updateButton").click(function (event) {
                        // upload file
                        let form = $('#editFileUploadForm')[0];

                        let data = new FormData(form);

                        data.append("ProductField", "This is some extra data, testing");

                        // $("#updateButton").prop("disabled", false);

                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: "/api/upload/multi",
                            data: data,
                            //http://api.jquery.com/jQuery.ajax/
                            //https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
                            processData: false, //prevent jQuery from automatically transforming the data into a query string
                            contentType: false,
                            cache: false,
                            timeout: 600000,
                            success: function (data) {
                                let id = $('#editId').val();
                                let name = $('#editName').val();
                                let type = $('#editType').val();
                                let seat = $('#editSeat').val();
                                let color = $('#editColor').val();
                                let buyPrice = $('#editBuyPrice').val();
                                let sellPrice = $('#editSellPrice').val();
                                let quantity = $('#editQuantity').val();
                                let brand = $('#editBrand').val();

                                let productEdit = {
                                    id: id,
                                    name: name,
                                    type: type,
                                    seat: seat,
                                    color: {
                                        id: color
                                    },
                                    buyPrice: buyPrice,
                                    sellPrice: sellPrice,
                                    quantity: quantity,
                                    brand: {
                                        id: brand
                                    },
                                    imageSet: data
                                }

                                //goi ajax
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: "PUT",
                                    data: JSON.stringify(productEdit),
                                    // API
                                    url: "/products/" + id,
                                    //su ly khi thanh cong
                                    success: successHandler
                                });
                                //chan su kien mac dinh cua the
                                event.preventDefault();

                            },
                            error: function (e) {
                                console.log("ERROR : ", e);
                                //$("#updateButton").prop("disabled", false);
                            }
                        });
                    });
                    event.preventDefault();
                });

            }

        })
        event.preventDefault();
    }


    <!-- delete funcition-->
    function deleteProduct(id) {
        $.ajax({
            type: "get",
            url: `/products/` + id,
            success: function (data) {
                $('#deleteId').val(data.id);
                $('#deleteName').val(data.name);

                $(document).ready(function () {
                    $('#deleteButton').click(function (event) {
                        // goi ajax
                        $.ajax({
                            type: "DELETE",
                            //tên API
                            url: `/products/` + id,
                            //xử lý khi thành công
                            success: successHandler
                        });
                        //chặn sự kiện mặc định của thẻ
                        event.preventDefault();
                    });
                })
                event.preventDefault();
            }
        })

    }

    function searchByProduct() {
        let search = $('#search').val();
        $.ajax({
            type: "get",
            url: `/products/search?search=${search}`,
            success: function (data) {
                let content1 = `<tr>
                                  <td>#</td>
                                  <td>Name</td>
                                  <td>Type</td>
                                  <td>Seat</td>
                                  <td>Color</td>
                                  <td>Quantity</td>
                                  <td>By Price</td>
                                  <td>Sell Price</td>
                                  <td>Brand</td>
                                  <td>Image</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                               </tr>`;

                for (let i = 0; i < data.content.length; i++) {
                    content1 += getProduct(data.content[i]);
                }
                document.getElementById('productList').innerHTML = content1;

            }

        });
        event.preventDefault();
    }

</script>
</body>
</html>