<!DOCTYPE HTML>
<html>
<head>
  <title>Cars Dealer Website</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/css/main.css">
  <noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
      <a href="/user" class="logo">
        <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
      </a>

      <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>

    <ul>
      <li><a href="/user">Home</a></li>

      <li><a href="user-product/list">Cars</a></li>

      <li>
        <a href="#" class="dropdown-toggle">About</a>

        <ul>
          <li class="active"><a href="/api/users/about">About Us</a></li>
          <li><a href="/api/users/team">Team</a></li>
          <li><a href="/api/users/blog">News</a></li>
          <li ><a href="/api/users/testimonials">Testimonials</a></li>
          <li><a href="/api/users/faq">FAQ</a></li>
          <li><a href="/api/users/terms">Terms</a></li>
        </ul>
      </li>

      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <h1>About Us</h1>

      <br>
      <div class="row">
        <h2>WE ARE CODEGYM - WORKING TO BRING MORE VALUE TO LIFE </h2>
        <p style="text-align: justify">Information Technology is a large and important industry of Vietnam, but the shortage of human resources in both quantity and quality is always a barrier to development.</p>

        <p style="text-align: justify">Human resources are the most important key to promoting the development of the country's IT industry. Understanding that situation, the founders of CodeGym - who were originally experienced programmers, lecturers, and enthusiastic software business owners - decided to build a training model. Breakthrough programming, helping to improve training efficiency and quality. It is not only enough to contribute a large number of programmers to the industry, but also through it to raise the quality standards of the industry.</p>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <section>
        <ul class="icons">
          <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>

        &nbsp;
      </section>

      <ul class="copyright">
        <li>Copyright © 2021 D3T Production</li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.scrollex.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>