<!DOCTYPE HTML>
<html>
<head>
	<title>Cars Dealer Website</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/css/main.css">
	<noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="/user" class="logo">
				<span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
			</a>

			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>

		<ul>
			<li><a href="/user">Home</a></li>

			<li><a href="user-product/list">Cars</a></li>

			<li>
				<a href="#" class="dropdown-toggle">About</a>

				<ul>
					<li ><a href="/api/users/about">About Us</a></li>
					<li><a href="/api/users/team">Team</a></li>
					<li><a href="/api/users/blog">News</a></li>
					<li ><a href="/api/users/testimonials">Testimonials</a></li>
					<li class="active"><a href="/api/users/faq">FAQ</a></li>
					<li ><a href="/api/users/terms">Terms</a></li>
				</ul>
			</li>

			<li><a href="/logout">Log out</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>CÂU HỎI THƯỜNG GẶP</h1>

			<br>
			<div class="row">
				<p style="text-align: justify"><b>Chính sách bảo hành của Toyota và thời gian bảo hành cơ bản như thế nào? Bộ phận nào trên xe tôi được bảo hành và bộ phận nào tôi phải trả phí? (có danh sách các hạng mục này ko?)</b></p>

				<p style="text-align: justify">Trả lời: Trong vòng 36 tháng hoặc 100.000 km tùy thuộc điều kiện nào đến trước, Toyota đảm bảo sẽ sửa chữa hoặc thay thế bất kỳ phụ tùng nào của xe Toyota mới bị hỏng hóc, trong điều kiện hoạt động bình thường, do nguyên liệu không tốt hay do lỗi lắp ráp, ngoại trừ những mục trong “Những gì không được bảo hành” trong sổ bảo hành.</p>

				<p style="text-align: justify">- Một số trường hợp đặc biệt dưới đây sẽ được bảo hành khác với điều kiện bảo hành cơ bản:</p>

				<p style="text-align: justify">+ Thùng sau xe bán tải: Bảo hành đối với hư hỏng sơn & han rỉ bề mặt là 12 tháng/20,000km tùy điều kiện nào đến trước.</p>

				<p style="text-align: justify">+ Ắc quy: Thời hạn bảo hành cho ắc quy là 12 tháng/20,000km tùy điều kiện nào đến trước.</p>

				<p style="text-align: justify">+ Lốp xe, đài, đầu đĩa: Được bảo hành theo chế độ riêng của nhà sản xuất.</p>

				<p style="text-align: justify">+ Khách hàng có trách nhiệm thực hiện đầy đủ các công việc bảo dưỡng cho chiếc xe của mình do các hạng mục thường xuyên không thuộc chế độ bảo hành.</p>

				<p style="text-align: justify">- Những gì không được Bảo hành:<br><br>

				+ Yếu tố ngoài kiểm soát của nhà sản xuất (sử dụng sai, ăn mòn do mỹ phẩm, xước sơn, đá bắn, môi trường tự nhiên, …)</p>

				<p style="text-align: justify">+ Bảo dưỡng không đầy đủ, dùng sai nhiên liệu, dầu nhờn hoặc chất bôi trơn.</p>

				<p style="text-align: justify">+ Tiếng động bình thường, xe rung, ăn mòn/ giảm giá trị tự nhiên (ngả màu, phai màu, biến dạng hoặc mờ)</p>

				<p style="text-align: justify">+ Thay đổi đồng hồ đo quãng đường</p>

				<p style="text-align: justify">+ Chi phí phụ, thiệt hại phụ hoặc hậu quả liên quan quá trình bảo hành (cước điện thoại, mất thời gian, nhỡ việc, …)</p>

				<p style="text-align: justify">(Quý khách vui lòng tham khảo thông tin chi tiết trong “Sổ bảo hành”)</p>

				<p style="text-align: justify"><b>Chính sách Bảo hành dành cho xe nhập khẩu, không mua từ Đại lý ủy quyền TMV là như thế nào?</b></p>

				<p style="text-align: justify">Trả lời: Với những trường hợp Khách hàng mua xe nhập khẩu không phải do TMV thực hiện, để được hưởng chính sách bảo hành của TMV cần phải tuân thủ các bước sau:</p>

				<p style="text-align: justify">Xe nhập khẩu phải được mua tại những Đại lý của Toyota trên toàn cầu.
				Công ty nhập khẩu yêu cầu Bên bán xe thực hiện chính sách bảo hành khi xe sử dụng.
				Bên bán xe sẽ thông báo cho Toyota Nhật Bản (TMC) và cung cấp thông tin xe, nơi sử dụng xe.
					Nhận được yêu cầu của Bên bán xe, TMC sẽ làm giấy ủy quyền cho Toyota nơi chiếc xe đó sẽ sử dụng. Sau khi nhận được giấy ủy quyền và thông tin xe từ TMC, Toyota nơi xe sử dụng sẽ thực hiện việc bảo hành theo đúng chính sách.</p>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section>
				<ul class="icons">
					<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>

				&nbsp;
			</section>

			<ul class="copyright">
				<li>Copyright © 2021 D3T Production</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.scrollex.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>