<!DOCTYPE HTML>
<html>
<head>
	<title>Cars Dealer Website</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/css/main.css">
	<noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="/user" class="logo">
				<span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
			</a>

			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>

		<ul>
			<li><a href="/user">Home</a></li>

			<li><a href="user-product/list">Cars</a></li>

			<li>
				<a href="#" class="dropdown-toggle">About</a>

				<ul>
					<li ><a href="/api/users/about">About Us</a></li>
					<li><a href="/api/users/team">Team</a></li>
					<li><a href="/api/users/blog">News</a></li>
					<li ><a href="/api/users/testimonials">Testimonials</a></li>
					<li class="active"><a href="/api/users/faq">FAQ</a></li>
					<li ><a href="/api/users/terms">Terms</a></li>
				</ul>
			</li>

			<li><a href="/logout">Log out</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>FAQ</h1>

			<br>
			<div class="row">
				<p style="text-align: justify"><b>What is Toyota's warranty policy and basic warranty period? What parts of my car are covered by warranty and which parts do I have to pay for? (Is there a list of these items?) </b></p>

				<p style="text-align: justify">A: Within 36 months or 100,000 km whichever comes first, Toyota warrants to repair or replace any damaged new Toyota vehicle parts, under normal operating conditions, due to whether it is not good or due to an assembly defect, except for the entries in “What is not covered” in the warranty book. </p>

				<p style="text-align: justify">- Some special cases below will be warranted different from the basic warranty conditions: </p>

				<p style="text-align: justify">+ Back box of pickup trucks: Warranty for paint damage & surface rust is 12 months/20,000km, whichever comes first. </p>

				<p style="text-align: justify">+ Battery: The warranty period for the battery is 12 months/20,000km whichever comes first. </p>

				<p style="text-align: justify">+ Tires, radios, disc players: Under warranty according to the manufacturer's own mode. </p>

				<p style="text-align: justify">+ Customers are responsible for performing full maintenance work for their vehicle because regular items are not covered by warranty. </p>

				<p style="text-align: justify">- What is not covered by the Warranty: <br><br>

					+ Factors beyond the control of the manufacturer (misuse, corrosion due to cosmetics, scratches, stones, natural environment, ...) </p>

				<p style="text-align: justify">+ Inadequate maintenance, incorrect use of fuel, lubricants or lubricants. </p>

				<p style="text-align: justify">+ Normal noise, vehicle vibration, natural corrosion/degradation (discoloration, fading, distortion or blurring) </p>

				<p style="text-align: justify">+ Change odometer </p>

				<p style="text-align: justify">+ Additional costs, additional damage or consequences related to the warranty process (phone charges, lost time, missed work, ...) </p>

				<p style="text-align: justify">(Please refer to the detailed information in the "Warranty Book") </p>

				<p style="text-align: justify"><b>What is the Warranty policy for imported vehicles, not purchased from TMV Authorized Dealers? </b></p>

				<p style="text-align: justify">Answer: For cases where customers buy imported cars that are not made by TMV, in order to enjoy TMV's warranty policy, they need to follow the following steps:
				</p>

				<p style="text-align: justify">Imported vehicles must be purchased at Toyota Dealers worldwide.
					The importing company requires the car seller to implement a warranty policy when the vehicle is used.
					The car seller will notify Toyota Japan (TMC) and provide vehicle information, where to use the vehicle.
					Upon receiving the request of the Seller, TMC will make a power of attorney for Toyota where the vehicle will be used. After receiving the authorization letter and vehicle information from TMC, Toyota where the vehicle is used will perform the warranty in accordance with the policy. .</p>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section>
				<ul class="icons">
					<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>

				&nbsp;
			</section>

			<ul class="copyright">
				<li>Copyright © 2021 D3T Production</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.scrollex.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>