<!DOCTYPE HTML>
<html>
<head>
  <title>Cars Dealer Website</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/css/main.css">
  <noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
      <a href="/user" class="logo">
        <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
      </a>

      <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>

    <ul>
      <li><a href="/user">Home</a></li>

      <li><a href="/user-product/list">Cars</a></li>

      <li>
        <a href="#" class="dropdown-toggle">About</a>

        <ul>
          <li ><a href="/api/users/about">About Us</a></li>
          <li class="active"><a href="/api/users/team">Team</a></li>
          <li><a href="/api/users/blog">News</a></li>
          <li ><a href="/api/users/testimonials">Testimonials</a></li>
          <li><a href="/api/users/faq">FAQ</a></li>
          <li><a href="/api/users/terms">Terms</a></li>
        </ul>
      </li>

      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>

  <!-- Main -->


  <div id="main">
    <div class="inner">
      <h1>Team</h1>

      <div class="image main">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img style="height: 310px; width: 100%; object-fit: cover" src="https://images-na.ssl-images-amazon.com/images/I/71eCuFlRLBL._AC_SL1500_.jpg" class="img-fluid" alt="2" />

            <h2 class="m-n">Pham Anh Tu</h2>

            <p>
              CEO <br>

              <a href="https://www.facebook.com/tupa9065"><i class="fa fa-facebook-official"></i></a> &nbsp;
            </p>
          </div>

          <div class="col-sm-3 text-center">
            <img style="height: 310px; width: 100%; object-fit: cover" src="https://i.pinimg.com/originals/4f/63/e2/4f63e2e26d04a3c435a77940c3c79dac.jpg" class="img-fluid" alt="3" />

            <h2 class="m-n">Dang Minh Tuan</h2>

            <p>
              Leader <br>

              <a href="https://www.facebook.com/minhtuan.arwen/"><i class="fa fa-facebook-official"></i></a> &nbsp;
            </p>
          </div>

          <div class="col-sm-3 text-center">
            <img style="height: 310px; width: 100%; object-fit: cover" src="https://i.pinimg.com/originals/3a/cb/d2/3acbd2eb460a71b88727d0dc535b07fc.png" class="img-fluid" alt="4" />

            <h2 class="m-n">Vi Van Thanh</h2>

            <p>
              Social Media <br>

              <a href="https://www.facebook.com/xoa.hets.9"><i class="fa fa-facebook-official"></i></a> &nbsp;
            </p>
          </div>

          <div class="col-sm-3 text-center">
            <img style="height: 310px; width: 100%; object-fit: cover" src="https://i.pinimg.com/originals/cd/30/8a/cd308aac10546747677561c5c1d73479.png" class="img-fluid" alt="" />

            <h2 class="m-n">Nguyen Ngoc Duc</h2>

            <p>
              Social Media <br>

              <a href="https://www.facebook.com/ngocduc2109"><i class="fa fa-facebook-official"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <section>
        <ul class="icons">
          <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>

        &nbsp;
      </section>

      <ul class="copyright">
        <li>Copyright © 2021 D3T Production</li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.scrollex.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>