<!DOCTYPE HTML>
<html>
<head>
	<title>Cars Dealer Website</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../assets/css/main.css">
	<noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="/user" class="logo">
				<span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
			</a>

			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>

		<ul>
			<li><a href="/user">Home</a></li>

			<li><a href="/user-product/list">Cars</a></li>

			<li>
				<a href="#" class="dropdown-toggle">About</a>

				<ul>
					<li ><a href="/api/users/about">About Us</a></li>
					<li><a href="/api/users/team">Team</a></li>
					<li><a href="/api/users/blog">News</a></li>
					<li ><a href="/api/users/testimonials">Testimonials</a></li>
					<li><a href="/api/users/faq">FAQ</a></li>
					<li class="active"><a href="/api/users/terms">Terms</a></li>
				</ul>
			</li>

			<li><a href="/logout">Log out</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Terms</h1>

			<br>
			<div class="row">
				<p style="text-align: justify">Toyota Motor Vietnam (hereinafter referred to as “Toyota”) would like to send our respectful greetings to customers visiting the Company's website at http://toyota.com. VN. We thank you for your interest in our products and for learning about our website.
					Please take the time to read and learn the terms of the legal agreement between you and Toyota below. By accessing, browsing the content, or using this website, you acknowledge that you have read, understood, and agree to abide by the terms of these terms. If you do not agree with these terms, please do not use this website. </p>

				<b>CUSTOMER INFORMATION
				</b>
				<p style="text-align: justify">All customer information is important to Toyota, so it is important to protect your privacy in the process of handling personal information. throughout the work.
					In some areas of the website, Toyota may ask you for certain personally identifiable information before providing you with a service. This information, such as your name, mailing address, email address, and request forms, will be obtained and stored in accordance with the nature of the request to meet your needs. In other words, all the information you give will be used to improve the quality of service that Toyota provides you.
					You can trust that any information you share is protected by Toyota and strives to be secure, and that best practices and privacy policies are in place to protect your personal data. from any unauthorized access, vandalism, use, modification and disclosure, except as set forth below:
				</p>

				<p style="text-align: justify">+ We may disclose the above information to third parties if you consent to the disclosure.
				</p>

				<p style="text-align: justify">+ We may disclose the above information to our affiliates and agents and to partners who receive product surveys. These subjects will access your personal information to the extent necessary to perform its function, and are not authorized to share the information with any other third parties. </p>

				<p style="text-align: justify">+ We may disclose the above information if required to do so by a governmental authority or if we believe that doing so is necessary to: (a) comply with legal requirements or comply with legal process; (b) protect the rights or property of Toyota or its affiliates; (c) prevent crime or protect the nation; or (d) protect the personal safety of users or the public. </p>

				<b>COPYRIGHT INFORMATION/TRADE REGISTRATION
				</b>
				<p style="text-align: justify">All information displayed on this website includes, but is not limited to: vehicle models; slogan "Toyota to the future"; logos, text, graphics, images and symbols and other materials are subject to copyright, other intellectual property rights of Toyota.
					At the same time, for this website and all content in this website, it is not allowed to copy, reproduce, redistribute, upload, post, transmit, distribute or used to create derivative works without Toyota's prior written consent. Particularly for the Toyota logo and logo, it is strictly forbidden to use, download, copy or distribute in any way.
					In some cases, Toyota grants you a limited, non-exclusive, non-transferable license to access and display the pages within this website, solely on your computer and for the personal, non-commercial use. This permission exists provided that: </p>

				<p style="text-align: justify">+ You may not change the content displayed on this website, must keep intact all copyright and other proprietary notices of these materials, and must accept any terms, conditions and notices accompanying the contents or anything else set forth in this website.
				</p>

				<p style="text-align: justify">+ You may not modify the materials in any way or copy or make publicly available, display, distribute or use such materials for commercial purposes or for dissemination. </p>

				<p style="text-align: justify">+ You may not copy any content from this website to any other website or media.
				</p>

				<p style="text-align: justify">Your failure to comply with the terms, conditions and notices on this website will automatically result in the loss of any of your rights, without notice, and you must immediately destroy all copies of downloaded documents that you have or are in control of. Except for the limited permissions referred to in the preceding paragraph, Toyota does not grant any implied or express right, or license to, any patent, patent, trademark, or any other proprietary or intellectual property right. </p>

				<b>CHANGE PRODUCT CONTENT, PRICE </b>
				<p style="text-align: justify">All illustrations, information, specifications and prices mentioned on this website are correct at the time of construction of this website. All vehicle prices are listed at retail. However, Toyota reserves the right to change or cancel the models, features, specifications, designs and prices of products mentioned on this website at any time without prior notice. prior notice.
					Please contact Toyota or your local dealer for the most current, relevant and accurate information or details.
				</p>

				<p><b>SOME DISCLAIMERS OF LIABILITY </b></p>
				<p style="text-align: justify">The information on this website is provided by Toyota and is completely legal. Toyota always tries to update and provide you with the most accurate information. However, in the course of providing the information, this website may contain technical inaccuracies or typographical errors, therefore, the information contained on this website cannot be promised or guaranteed to be correct, up-to-date or complete. Under no circumstances shall Toyota be liable to any party for any indirect, direct, implied, special, cautionary or consequential damages in of any kind and for any reason whatsoever relating to or arising out of this website or the use of this website, or of any other website or resource be linked to, referenced to or accessed through this website, or with respect to the use or downloading of, or access to, any materials, information, products or services. even when Toyota explicitly recommends the possibility of such damage. </p>
				<p style="text-align: justify"> Other Links </p>
				<p style="text-align: justify">This website may contain links to other websites. Toyota provides these links for your convenience and does not mean that Toyota is responsible for these links or that this website is under Toyota's control.
					Please know that Toyota is not responsible for the implementation or privacy practices or content or security practices of such websites. Your use of links and applications is subject to the individual policies of such linked sites or websites. We therefore encourage users to read the privacy policies, privacy guidelines and contents of these linked sites or websites before using such links or applications.</p>

				<b>RIGHT TO CHANGE </b>

				<p style="text-align: justify">Toyota reserves the right to change these Terms of Use and any information contained in this website at any time without prior notice to you. Toyota may also make improvements or changes in the products, services or programs described on this website at any time without notice. We will post such changes on our website so that users are always aware of what information we collect, how we use it, and the circumstances under which we disclose those information. that information. </p>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section>
				<ul class="icons">
					<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>

				&nbsp;
			</section>

			<ul class="copyright">
				<li>Copyright © 2021 D3T Production</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.scrollex.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>