<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars Dealer Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../assets/css/main.css">
		<noscript><link rel="stylesheet" href="../../../assets/css/noscript.css"></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
							<a href="/user" class="logo">
								<span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
							</a>

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					
					<ul>
						<li><a href="/user">Home</a></li>

						<li><a href="/user-product/list">Cars</a></li>

						<li>
							<a href="#" class="dropdown-toggle">About</a>

							<ul>
								<li><a href="/api/users/about">About Us</a></li>
								<li><a href="/api/users/team">Team</a></li>
								<li><a href="/api/users/blog">News</a></li>
								<li class="active"><a href="/api/users/testimonials">Testimonials</a></li>
								<li><a href="/api/users/faq">FAQ</a></li>
								<li><a href="/api/users/terms">Terms</a></li>
							</ul>
						</li>

						<li><a href="/logout">Log out</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Testimonials</h1>

							<div class="image main">
								<img style="height: 320px; width: 100%; object-fit: cover" src="https://image.winudf.com/v2/image/Y29tLkhvbWVMYW5kU3R1ZGlvcy5DYXJzLkZhc3QuRmFzdENhci5TcG9ydHNDYXIuUmFjaW5nQ2FyLlJhbGx5LlJhbGx5Q2FyLk1jTGFyZW5SYWNpbmdXYWxscGFwZXJfc2NyZWVuXzhfMTUzMDc1NDU0OV8wOTg/screen-8.jpg?fakeurl=1&type=.jpg" class="img-fluid" alt="" />
							</div>

							<br>
							<div class="row">
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"When I tested the Rush car: “I think the Rush is quite good, the car is wide,
										the steering wheel is light, the body is
										for sure, the price is reasonable but need to improve the noise level further”. Ms. Hai is also
										quite satisfied
										Toyota services such as finance and insurance because her husband also owns one
										Corolla Altis and service at Toyota Yen Nghia: “Toyota service in general is quite good, my
										husband goes out to work quickly"</em></p>

									<p><strong> - Mrs. Nguyen Thi Hai (Ha Đong, Ha Noi)</strong></p>
								</div>
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"And after test driving the Vios is also quite satisfied with the
										facilities and soundproofing: "The new Vios is more beautiful and modern, the
										soundproofing is also better, but the test track too short to evaluate the certainty
										as well as the acceleration”. "I also like Toyota's used car service, it helps consumers
										save money compared to buying a new car but still feel secure about the quality because
										it is warranted by Toyota." </em></p>

									<p><strong>- Mr. Bui Duc Phuc (Thanh Xuan, Hanoi)</strong></p>
								</div>
							</div>

							<br>

							<div class="row">
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"I just tested the Corolla Altis, the car accelerates well, is smooth,
										the interior is nice and full, the driving is light but the price is a bit high, less
										than one year. A little bit will surely compete better…”. "Toyota's financial service
										is also quite good, in the near future when buying a car, I will definitely use this service
										to reduce financial pressure when I have to pay for the whole car at once."</em></p>

									<p><strong> - Mr. Nguyen Tien Dai (Tay Ho, Hanoi)</strong></p>
								</div>

								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"As the main pillar of the company and family, I always consider choosing
										the best things to accompany me from the staff, partners and cars too. Loving the luxury
										and comfort of Kia Sedona, I decided to choose this model to serve work and family. After
										using it for a while, I am really satisfied with what Kia Sedona has to offer - a high-class
										car for meeting partners and a perfect multi-purpose vehicle for serving the family."</em></p>

									<p><strong>- Mr. Duc Nguyen (Bac Tu Liem, Hanoi)</strong> </p>
								</div>
							</div>
							<br>

							<div class="row">
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"After a year of using Kia Sedona, I am really satisfied with the features
										and equipment that this model brings to family members. Busy work takes up most of my week,
										so on weekends I often take my wife, children and grandparents for a picnic. With 7 spacious
										seats, Kia Sedona completely meets the needs of a family of 6 members like my family."</em></p>

									<p><strong> - Mr. Tung Nguyen (Le Chan, Haiphong)</strong></p>
								</div>

								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"My first car is Vios, i plan to upgrade to an SUV to have a more open
										view and more spacious space than a traditional sedan. as soon as i came into contact with SantaFe,
										i was attracted by the really beautiful and powerful car design, with the look of a modern global car,
										not a clunky truck-like look. And my choice are a special edition SantaFe using a 2.4L petrol engine."</em></p>

									<p><strong>- Mrs. Huyen Dang (Hong Bang, Haiphong)</strong> </p>
								</div>
							</div>
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2021 D3T Production</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="../../../assets/js/jquery.min.js"></script>
		<script src="../../../assets/bootstrap/js/bootstrap.bundle.js"></script>
		<script src="../../../assets/js/jquery.scrolly.min.js"></script>
		<script src="../../../assets/js/jquery.scrollex.min.js"></script>
		<script src="../../../assets/js/main.js"></script>
	</body>
</html>