<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../../assets/css/noscript.css">
    </noscript>

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/api/users/blog" class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/user">Home</a></li>

            <li><a href="/user-product/list">Cars</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="/api/users/about">About Us</a></li>
                    <li><a href="/api/users/team">Team</a></li>
                    <li><a href="/api/users/blog" class="active">News</a></li>
                    <li><a href="/api/users/testimonials">Testimonials</a></li>
                    <li><a href="/api/users/faq">FAQ</a></li>
                    <li><a href="/api/users/terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <p>05/04/2021</p>
            <h1>Honda introduces special edition Honda CR-V LSE. </h1>


            <div class="image main">
                <img style="height: 320px; width: 100%; object-fit: cover"
                     src="https://www.hdcarwallpapers.com/walls/honda_cr_v_ehev_black_edition_2020_5k-HD.jpg"
                     class="img-fluid" alt="1"/>
            </div>

            <div>
                <p style="text-align: justify">Hanoi, April 5, 2021 – Honda Vietnam Company officially introduces
                    introduced special edition Honda CR-V LSE (L Special Edition) to domestic customers. </p>

                <p style="text-align: justify">Since the launch of the new version at the end of July 2020, with the values
                    outstanding: "Safety - Powerful - Comfortable - High-class", Honda CR-V has quickly received support
                    of a large number of domestic customers with cumulative sales of more than 8,600 vehicles by the end of March
                    2021. In particular, in December 2020, CR-V is the best-selling model in the SUV segment with record sales
                    3,226 cars were sold, proving the increasingly strong appeal of this model. </p>

                <p style="text-align: justify">Besides 3 versions L, G, E and 6 paint colors (Exquisite Ivory White, Silver Gray
                    fashion, strong titanium, unique shiny black, cool blue, cool red) are being distributed
                    company in Vietnam, with the desire to bring more personality options and great experiences to customers
                    users, April 5, 2021, Honda Vietnam Company introduces a special version Honda CR-V
                    LSE (L Special Edition) to domestic customers. </p>

                <p style="text-align: justify">Honda CR-V LSE is a special version launched in the market with a single color
                    (Unique luster black), at the same time, the details of the exterior and interior have been refined in order to
                    increase the strong, healthy look inherent to Honda CR-V. From the outside, Honda special edition
                    CR-V LSE impresses with dark chrome-plated borders; 18-inch wheels with 5 stylized spokes
                    Now painted black with personality and the Black Edition logo stands out on the rear of the car. </p>

                <p style="text-align: justify">Entering the space compartment of Honda CR-V LSE, customers will be captivated
                    impressed by the harmony between modern design and high-quality materials on a black interior background: wood grain paneling
                    black, the front seats are highlighted with the words Black Edition meticulously embroidered, the ceiling is colored
                    black and the decorative borders on the dashboard, dials and doors are also turned black
                    high fashioned. </p>

                <p style="text-align: justify">Besides, the CR-V LSE version still possesses the core values that have been done
                    The success of the Honda CR-V model: strong performance thanks to the 1.5L VTEC TURBO turbocharged engine
                    with peak power up to 188hp/5600rpm; spacious and flexible space with 7-seater design;
                    equipped with modern technology and especially Honda SENSING – Safe driving technology system
                    Advanced technology includes 5 superior technologies: </p>

                <ul>
                    <li>Collision Mitigation Braking System (CMBS) </li>
                    <li>Automatic Adaptive High Beam (AHB)
                    </li>
                    <li>Adaptive cruise control including low speed range (ACC with LSF) </li>
                    <li>Lane Departure Mitigation (RDM) </li>
                    <li>Lane Keeping Assist System (LKAS) </li>
                </ul>

                <p style="text-align: justify">With subtle and luxurious changes in interior and exterior design and
                    inherent values of luck
                    performance and advanced safety technology, the special edition Honda CR-V LSE offers a complete selection of
                    good and
                    add personality to customers who are looking for an effective companion on all levels
                    Street. Honda CR-V LSE will be available at Honda Automobile Distributors nationwide from May 15
                    4
                    2021 with a suggested retail price of VND 1,138,000,000. </p>

                <p style="text-align: justify">Besides introducing the special edition Honda CR-V LSE, Honda Vietnam
                    The South continued to deploy the War
                    translated “Feel The Performance” with the highlight is a series of special test-drive events coordinated by HVN with the system
                    system
                    Honda automobile distributor organizes nationwide to expand the opportunity to experience the ability to operate
                    pass
                    excellence of Honda automobile products as well as spreading the joy of driving to more customers on
                    both
                    country. At the test drive event, customers will have the opportunity to fully experience the performance of the vehicle
                    Honda CR-V in particular and all Honda cars in general, as well as discover the features
                    floating
                    the best of each product and receive attractive gifts. </p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>


                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>