<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../../assets/css/noscript.css">
    </noscript>

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/api/users/blog" class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/user">Home</a></li>

            <li><a href="user-product/list">Cars</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="/api/users/about">About Us</a></li>
                    <li><a href="/api/users/team">Team</a></li>
                    <li><a href="/api/users/blog" class="active">News</a></li>
                    <li><a href="/api/users/testimonials">Testimonials</a></li>
                    <li><a href="/api/users/faq">FAQ</a></li>
                    <li><a href="/api/users/terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <p>05/04/2021</p>
            <h1>Honda giới thiệu phiên bản đặc biệt Honda CR-V LSE.</h1>


            <div class="image main">
                <img style="height: 320px; width: 100%; object-fit: cover"
                     src="https://www.hdcarwallpapers.com/walls/honda_cr_v_ehev_black_edition_2020_5k-HD.jpg"
                     class="img-fluid" alt="1"/>
            </div>

            <div>
                <p style="text-align: justify">Hà Nội, ngày 5 tháng 4 năm 2021 – Công ty Honda Việt Nam chính thức giới
                    thiệu phiên bản đặc biệt Honda CR-V LSE (bản L Special Edition) tới khách hàng trong nước.</p>

                <p style="text-align: justify">Kể từ khi ra mắt phiên bản mới vào cuối tháng 7 năm 2020, với các giá trị
                    nổi bật: “An toàn – Mạnh mẽ - Tiện nghi – Cao cấp”, Honda CR-V đã nhanh chóng nhận được sự ủng hộ
                    của đông đảo khách hàng trong nước với doanh số cộng dồn đạt hơn 8.600 xe tính đến hết tháng 3 năm
                    2021. Đặc biệt, tháng 12 năm 2020, CR-V là mẫu xe bán chạy nhất phân khúc SUV với doanh số kỷ lục
                    3.226 xe bán ra, chứng minh sức hút ngày càng mạnh mẽ của mẫu xe này.</p>

                <p style="text-align: justify">Bên cạnh 3 phiên bản L, G, E và 6 màu sơn (Trắng ngà tinh tế, Ghi bạc
                    thời trang, Titan mạnh mẽ, Đen ánh độc tôn, Xanh đậm cá tính, Đỏ cá tính) đang được phân phối chính
                    hãng tại Việt Nam, với mong muốn mang lại thêm lựa chọn cá tính và những trải nghiệm tuyệt vời cho
                    người dùng, ngày 5 tháng 4 năm 2021, Công ty Honda Việt Nam giới thiệu phiên bản đặc biệt Honda CR-V
                    LSE (bản L Special Edition) tới khách hàng trong nước.</p>

                <p style="text-align: justify">Honda CR-V LSE là phiên bản đặc biệt ra mắt thị trường với một màu duy
                    nhất (Đen ánh độc tôn), đồng thời được tinh chỉnh lại các chi tiết về ngoại thất và nội thất nhằm
                    tăng thêm vẻ mạnh mẽ, khỏe khoắn vốn có của Honda CR-V. Nhìn từ bên ngoài, phiên bản đặc biệt Honda
                    CR-V LSE gây ấn tượng với những đường viền mạ chrome tối màu; la-zăng 18 inch với 5 chấu cách điệu
                    nay được sơn đen đầy cá tính và logo Black Edition nổi bật ở phía sau xe.</p>

                <p style="text-align: justify">Bước vào khoang không gian của Honda CR-V LSE, khách hàng sẽ bị chinh
                    phục bởi sự hài hòa giữa thiết kế hiện đại và chất liệu cao cấp trên nền nội thất màu đen: ốp vân gỗ
                    màu đen, hàng ghế phía trước với điểm nhấn là dòng chữ Black Edition được thêu tỉ mỉ, trần xe màu
                    đen và các đường viền trang trí trên táp lô, mặt đồng hồ và cánh cửa cũng được chuyển sang màu đen
                    thời thượng.</p>

                <p style="text-align: justify">Bên cạnh đó, phiên bản CR-V LSE vẫn sở hữu những giá trị cốt lõi đã làm
                    nên thành công của mẫu xe Honda CR-V: khả năng vận hành mạnh mẽ nhờ động cơ tăng áp 1.5L VTEC TURBO
                    với công suất cực đại lên tới 188hp/5600rpm; không gian rộng rãi và linh hoạt với thiết kế 7 chỗ;
                    trang bị công nghệ hiện đại và đặc biệt là Honda SENSING – Hệ thống công nghệ hỗ trợ lái xe an toàn
                    tiên tiến bao gồm 5 công nghệ ưu việt:</p>

                <ul>
                    <li>Hệ thống phanh giảm thiểu va chạm (CMBS)</li>
                    <li>Hệ thống đèn pha thích ứng tự động (AHB)</li>
                    <li>Hệ thống kiểm soát hành trình thích ứng bao gồm dải tốc độ thấp (ACC with LSF)</li>
                    <li>Hệ thống giảm thiểu chệch làn đường (RDM)</li>
                    <li>Hệ thống hỗ trợ giữ làn đường (LKAS)</li>
                </ul>

                <p style="text-align: justify">Với những thay đổi tinh tế, sang trọng trong thiết kế nội, ngoại thất và
                    những giá trị vốn có về vận
                    hành và công nghệ an toàn tiên tiến, phiên bản đặc biệt Honda CR-V LSE mang đến một lựa chọn hoàn
                    hảo và
                    thêm phần cá tính cho những khách hàng đang tìm kiếm một người bạn đồng hành đắc lực trên mọi cung
                    đường. Honda CR-V LSE sẽ có mặt tại hệ thống Nhà phân phối ô tô Honda trên cả nước từ ngày 15 tháng
                    4
                    năm 2021 với giá bán lẻ đề xuất 1.138.000.000 VNĐ.</p>

                <p style="text-align: justify">Bên cạnh việc giới thiệu phiên bản đặc biệt Honda CR-V LSE, Honda Việt
                    Nam tiếp tục triển khai Chiến
                    dịch “Feel The Performance” với điểm nhấn là chuỗi sự kiện lái thử đặc biệt do HVN phối hợp với hệ
                    thống
                    Nhà phân phối ô tô Honda tổ chức trên toàn quốc nhằm mở rộng cơ hội trải nghiệm khả năng vận hành
                    vượt
                    trội của các sản phẩm ô tô Honda cũng như lan tỏa niềm vui cầm lái đến nhiều hơn nữa khách hàng trên
                    cả
                    nước. Đến với sự kiện lái thử xe, khách hàng sẽ có cơ hội trải nghiệm trọn vẹn khả năng vận hành của
                    Honda CR-V nói riêng và tất cả các dòng xe ô tô Honda nói chung, cũng như khám phá những tính năng
                    nổi
                    bật nhất của từng sản phẩm và nhận những phần quà hấp dẫn.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>


                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>