<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../../assets/css/noscript.css">
    </noscript>

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/api/users/blog" class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/user">Home</a></li>

            <li><a href="/user-product/list">Cars</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="/api/users/about">About Us</a></li>
                    <li><a href="/api/users/team">Team</a></li>
                    <li><a href="/api/users/blog" class="active">News</a></li>
                    <li><a href="/api/users/testimonials">Testimonials</a></li>
                    <li><a href="/api/users/faq">FAQ</a></li>
                    <li><a href="/api/users/terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <p>25/04/2021</p>
            <h1>Honda officially launched the 5th generation Honda City. </h1>


            <div class="image main">
                <img style="height: 320px; width: 100%; object-fit: cover"
                     src="https://ic.maxabout.us//cars/honda/city//City_181108_3.jpg"
                     class="img-fluid" alt="1"/>
            </div>

            <div>
                <p style="text-align: justify">Hanoi, December 9, 2020 – The 5th generation Honda City officially launched in Vietnam market .</p>

                <p style="text-align: justify">With the introduction of the first generation in 1996, Honda City was Honda's first model exclusively for the Asia region. The design of Honda City is researched and developed based on the characteristics of the market and the tastes of customers in this region. After more than 20 years of development, Honda City has become Honda's strategic model in Asia and is honored to receive many prestigious awards such as Thailand's best sedan under 1,500cc 2019, Best compact car Malaysia 2019, Small Car of the Year Gold Award in Malaysia 2019,… </p>

                <p style="text-align: justify">Not only being loved in the Asian market, since its launch in Vietnam in 2013, Honda City has been trusted by many domestic customers to choose as a family companion. The proof is that within 3 years 2018 - 2020, more than 25,000 units of the 4th generation Honda City have been delivered to customers, helping this model to always be in the Top 3 best-selling cars in the B segment in Vietnam. </p>

                <p style="text-align: justify">In November 2019, the all-new 5th generation Honda City was launched for the first time in the world in the Thai market, quickly asserting its leading position with sales reaching 36% market share in the eco-car segment. fuel economy class B (data from January to September 2020) and become Honda's best-selling model in the Thai market in 2020. After Thailand, the new generation Honda City continues to be launched in the markets of India, Malaysia, Philippines, and followed by Vietnam. </p>

                <p style="text-align: justify">Following the success of the 4th generation City, on December 9, 2020, the 5th generation Honda City was officially launched to Vietnamese customers with the message "Strengthening the way to success", bringing a unique experience. completely new to this model thanks to the outstanding values: "Sports personality - Modern comfort - Powerful operation - Peace of mind to drive". The new generation Honda City is assembled and distributed genuine in Vietnam with three versions: RS, L, G with 6 color options: delicate ivory white, fashion silver, unique black, strong titanium Strong (RS, L), Red (RS, L) and Dark Blue (RS, L). The car will be available at Honda Automobile Distributors nationwide from January 2021 with the suggested retail price as follows: </p>


                <p style="text-align: justify">(VND)</p>

               <table style="text-align: center; border: 1px solid black">
                   <tr>
                       <td><b>Version</b></td>
                       <td><b>Suggested retail price </b></td>
                   </tr>
                   <tr>
                       <td>RS</td>
                       <td>599.000.000</td>
                   </tr>
                   <tr>
                       <td>L</td>
                       <td>569.000.000</td>
                   </tr>
                   <tr>
                       <td>G</td>
                       <td>529.000.000</td>
                   </tr>
               </table>

                <p style="text-align: justify">For personality Red color (RS, L), the car price will be higher than 5,000,000 VND. </p>



                <p style="text-align: justify"><b>I – PRODUCT OVERVIEW </b></p>

                <p style="text-align: justify">The new generation Honda City possesses impressive changes in exterior and interior design as well as comfort upgrades, while giving customers absolute peace of mind when behind the wheel. With the desire to develop a refined, high-quality car that can bring confidence to elevate life, the 5th generation Honda City has a sportier, stronger appearance, asserting personality and ambition. owner's expectations. Moreover, inheriting the core values ​​that made the success of the Honda City series, "Intelligent Style" and "Outstanding Space", the 5th generation continues to be a spacious car. segment with modern amenities. In addition, the performance of the new Honda City has also been greatly improved, giving customers an exciting sporty driving feeling with the leading powerful engine in the segment. In addition, advanced safety equipment helps the driver always feel secure on every journey. </p>

                <p style="text-align: justify">In particular, this will be the first time Honda Vietnam introduces to customers the RS (Road Sailing) sport version of Honda City. As a combination of sporty style and everyday convenience of a family car, the new Honda City RS version represents Honda's sporty spirit and constantly conquering challenges, always aiming for efficiency. Dynamic, liberal in creativity but still pursuing the pinnacle of perfection and sophistication. </p>

                <p style="text-align: justify"><b>II – OUTSTANDING VALUES OF THE 5TH GENERATION CITY </b></p>

                <p style="text-align: justify">Revolving around the "ambitious sedan" orientation, Honda City is developed based on the values of "Sports personality - Modern comfort - Powerful operation - Peace of mind to drive". </p>

                <p style="text-align: justify"><b>SPORTS, PERSONALITY </b></p>

                <p style="text-align: justify">The sporty spirit in Honda's designs is most evident in the appearance. Entering the 5th generation, the exterior of the new Honda City is designed with the main idea of "Make a difference". </p>

                <p style="text-align: justify">The new generation Honda City has dimensions length x width x height of 4,553mm x 1,748mm x 1,467mm, respectively, with width & length increased to 54mm, 113mm respectively, and the center of gravity is lowered 10mm compared to previous version, further exalting the inherent sporty styling of Honda cars. </p>

                <p style="text-align: justify">Front of the car: The front of the new Honda City continues to apply Honda's unique wing-shaped design language, creating a sporty and luxurious style for the car. The front light cluster with LED daytime running lights is attached to two chrome bars on both sides to form a solid block at the front of the car. When the lights are on, the light on the strip forms a sharp line on the wings, giving it a trendy, high-end look. In particular, the RS version of the new Honda City is even more prominent with a black painted steering wheel with a personality embossed RS logo, a modern Full LED front light cluster and a pair of LED fog lights. </p>

                <p style="text-align: justify">Body: Strong, powerful embossed ribs running along the body from the front light strip to the rear taillight are a prominent highlight on the new City, creating a feeling of a longer, wider and more luxurious car. Viewed from the sides, the appearance of the car is even more attractive with the luxurious 16-inch dual-spoke 5-spoke alloy wheels painted in 2 contrasting colors (RS), creating an impressive sporty appearance. The L and G versions are equipped with 16-inch (L) and 15-inch (G) alloy wheels with sharp, delicate cuts. </p>

                <p style="text-align: justify">Rear: Honda City 5th generation is equipped with elegant LED taillights with angular design, emphasizing low and wide shaping. The rear bumper is redesigned to be more solid, adding a youthful beauty and personality to the rear of the car. </p>

                <p style="text-align: justify">With 6 diverse exterior colors, including 2 completely new options: Personality Red and Personality Dark Blue (RS, L), the 5th generation Honda City will surely inspire customers. at first sight. In addition, the RS version is the only version that has exclusive black paint details such as: glossy black steering wheel at the front, black painted rearview mirror and shark fin antenna, black sports spoiler, …all create a sporty, energetic beauty that inspires customers with strong personalities. </p>

                <p style="text-align: justify"><b>MODERN CONVENIENCES
                </b></p>

                <p style="text-align: justify">Not only impressing with its sporty and personality appearance, the new Honda City also gives customers a great experience with spacious and sophisticated space and leading equipment in the segment. </p>

                <p style="text-align: justify"><b>A – Spacious, sophisticated space </b></p>

                <p style="text-align: justify">Compared to the current version, the new City is longer and wider, creating the most spacious space in the segment. In addition, by adjusting the design of the front seats, the rear legroom and the distance from the knee to the front seat are increased, providing a comfortable space and a clearer view for passengers. seat behind. </p>

                <p style="text-align: justify">Stepping inside the new Honda City, customers will quickly be convinced by the sophisticated, user-friendly design of the interior compartment. Silver decorative details dotted on the black interior create an eye-catching contrast. The dashboard area is neatly designed, increasing comfort and creating a wide view when driving. In addition, the driver's visibility is also improved by changing the rearview mirror position, reducing the blind spot in column A. </p>

                <p style="text-align: justify">In order to bring maximum comfort to customers, the new City integrates a lot of storage space for passengers such as a central armrest with storage compartments in the front seats (RS, L), a water bottle holder ( G), a document holder behind the driver's seat and an armrest with integrated cup holders in the rear seats (RS). Seats are made of leather, suede combined with felt with trendy red stitching (RS), bringing a luxurious look to the cabin. </p>

                <p style="text-align: justify"><b>B – Leading amenities in the segment </b></p>

                <p style="text-align: justify">The 5th generation Honda City possesses outstanding upgrades in terms of comfort: The center entertainment screen is more modern with the size increased from 6.8 to 8 inches, the largest in the segment, with additional connectivity features. Apple CarPlay and Android Auto smartphones; The air-conditioning system can be easily adjusted by means of a rotary knob and the “MAX COOL” button allows the highest efficiency to be achieved quickly; Air-conditioning vents add coolness to the rear seats (RS, L); Speedometer with sporty design; Button to adjust the audio system on the steering wheel, Smart key to help open the car door automatically (RS, L)… </p>

                <p style="text-align: justify">In particular, on the high-end RS version, customers can experience the leading amenities in the segment: 8-speaker sound system for realistic sound; Remote car start function is especially useful in hot weather days; The electric charging port is integrated on the rear air-conditioning vent, … </p>

                <p style="text-align: justify"><b>POWERFUL OPERATION </b></p>

                <p style="text-align: justify">In addition to the outstanding values of design, comfort and technology, the distinct competitive advantage that is considered the brand identity of Honda automobile products is the performance. The 5th generation Honda City is the product of Honda's continuous improvement efforts to bring to Asian customers a sedan with an exhilarating driving experience and a sense of peace of mind that gives full confidence when experiencing. </p>

                <p style="text-align: justify">All 3 new Honda City versions are equipped with 1.5L DOHC i-VTEC inline 4-cylinder engine, 16 valves, producing a maximum capacity of 119Hp/6,600rpm and maximum torque of 145Nm/4,300rpm with automatic transmission. The continuously variable transmission (CVT) applies modern technology, bringing strong performance and optimal fuel efficiency in the segment, promising users an exciting driving experience, which is the hallmark of the new generation. so the brand Honda Automobile. At the same time, the system supports operation with features such as: Gearshift paddles integrated on the steering wheel (RS), Fuel-saving driving mode (ECON Mode), Push button start (RS, L) …will help the driver operate more quickly and conveniently, confidently mastering every journey. </p>

                <p style="text-align: justify">Moreover, by applying soundproof materials with flexible thickness and soundproof foam spray technology, the new Honda City has outstanding sound insulation ability, helping to reduce the noise from the road surface reverberating into the cabin. giving the driver and passengers a quiet and relaxing space. </p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>


                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>