<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../../assets/css/noscript.css">
    </noscript>

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/api/users/blog" class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/user">Home</a></li>

            <li><a href="user-product/list">Cars</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="/api/users/about">About Us</a></li>
                    <li><a href="/api/users/team">Team</a></li>
                    <li><a href="/api/users/blog" class="active">News</a></li>
                    <li><a href="/api/users/testimonials">Testimonials</a></li>
                    <li><a href="/api/users/faq">FAQ</a></li>
                    <li><a href="/api/users/terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <p>25/04/2021</p>
            <h1>Honda chính thức ra mắt Honda City thế hệ thứ 5.</h1>


            <div class="image main">
                <img style="height: 320px; width: 100%; object-fit: cover"
                     src="https://ic.maxabout.us//cars/honda/city//City_181108_3.jpg"
                     class="img-fluid" alt="1"/>
            </div>

            <div>
                <p style="text-align: justify">Hà Nội, ngày 09 tháng 12 năm 2020 – Honda City thế hệ thứ 5 chính thức ra mắt thị trường Việt Nam.</p>

                <p style="text-align: justify">Với sự ra đời của thế hệ thứ nhất năm 1996, Honda City là mẫu xe đầu tiên của Honda dành riêng cho khu vực châu Á. Thiết kế của Honda City được nghiên cứu và phát triển dựa trên các đặc điểm của thị trường và thị hiếu của khách hàng tại khu vực này. Sau hơn 20 năm phát triển, Honda City đã trở thành mẫu xe chiến lược của Honda ở châu Á và vinh dự nhận được nhiều giải thưởng uy tín như Mẫu xe sedan dưới 1.500cc tốt nhất Thái Lan 2019, Mẫu xe cỡ nhỏ tốt nhất Malaysia 2019, Giải vàng mẫu xe cỡ nhỏ của năm tại Malaysia 2019,…</p>

                <p style="text-align: justify">Không chỉ được yêu thích trên thị trường châu Á, kể từ khi được ra mắt tại Việt Nam vào năm 2013, Honda City đã được nhiều khách hàng trong nước tin tưởng lựa chọn làm người bạn đồng hành cho gia đình. Minh chứng là trong vòng 3 năm 2018 – 2020, hơn 25.000 chiếc Honda City thế hệ thứ 4 đã được giao đến tay khách hàng, giúp mẫu xe này luôn nằm trong Top 3 xe bán chạy nhất phân khúc B tại Việt Nam.</p>

                <p style="text-align: justify">Tháng 11/2019, Honda City thế hệ thứ 5 hoàn toàn mới được ra mắt lần đầu tiên trên thế giới tại thị trường Thái Lan đã nhanh chóng khẳng định vị thế dẫn đầu với doanh số đạt 36% thị phần trong phân khúc xe tiết kiệm nhiên liệu hạng B (dữ liệu từ tháng 1 đến tháng 9 năm 2020) và trở thành mẫu xe bán chạy nhất của Honda tại thị trường Thái Lan trong năm 2020. Sau Thái Lan, Honda City thế hệ mới tiếp tục được ra mắt tại các thị trường Ấn Độ, Malaysia, Philippines, và tiếp theo là Việt Nam.</p>

                <p style="text-align: justify">Tiếp nối thành công của City thế hệ thứ 4, ngày 09 tháng 12 năm 2020, Honda City thế hệ thứ 5 chính thức được ra mắt khách hàng Việt Nam với thông điệp “Mạnh mẽ trải lối thành công”, đem lại một trải nghiệm hoàn toàn mới với mẫu xe này nhờ những giá trị nổi bật: “Thể thao cá tính – Tiện nghi hiện đại – Vận hành mạnh mẽ - An tâm cầm lái”. Honda City thế hệ mới được lắp ráp, phân phối chính hãng tại Việt Nam với ba phiên bản: RS, L, G cùng 6 lựa chọn màu sắc: Trắng ngà tinh tế, Ghi bạc thời trang, Đen ánh độc tôn, Titan mạnh mẽ (RS, L), Đỏ cá tính (RS, L) và Xanh đậm cá tính (RS, L). Xe sẽ có mặt tại hệ thống Nhà Phân phối ô tô Honda trên toàn quốc từ tháng 01 năm 2021 với mức giá bán lẻ đề xuất như sau:</p>


                <p style="text-align: justify">(VNĐ)</p>

               <table style="text-align: center; border: 1px solid black">
                   <tr>
                       <td><b>Bản</b></td>
                       <td><b>Giá bán lẻ đề xuất</b></td>
                   </tr>
                   <tr>
                       <td>RS</td>
                       <td>599.000.000</td>
                   </tr>
                   <tr>
                       <td>L</td>
                       <td>569.000.000</td>
                   </tr>
                   <tr>
                       <td>G</td>
                       <td>529.000.000</td>
                   </tr>
               </table>

                <p style="text-align: justify">Đối với màu Đỏ cá tính (RS, L), giá xe sẽ cao hơn 5.000.000 VNĐ.</p>



                <p style="text-align: justify"><b>I – TỔNG QUAN VỀ SẢN PHẨM</b></p>

                <p style="text-align: justify">Honda City thế hệ mới sở hữu những thay đổi ấn tượng về thiết kế ngoại, nội thất cũng như những nâng cấp về tiện nghi, đồng thời mang đến cho khách hàng sự an tâm tuyệt đối khi ngồi sau tay lái. Với mong muốn phát triển một mẫu xe tinh tế, chất lượng cao, có thể mang lại sự tự tin để nâng tầm cuộc sống, Honda City thế hệ thứ 5 có diện mạo thể thao, mạnh mẽ hơn, khẳng định cá tính và tham vọng của người sở hữu. Hơn nữa, kế thừa những giá trị cốt lõi đã làm nên sự thành công của dòng xe Honda City, “Phong cách thông minh” và “Không gian vượt trội”, thế hệ thứ 5 tiếp tục là chiếc xe có không gian rộng rãi nhất phân khúc cùng những tiện nghi hiện đại. Bên cạnh đó, khả năng vận hành của Honda City mới cũng được cải tiến vượt bậc, đem đến cho khách hàng cảm giác lái thể thao phấn khích với động cơ mạnh mẽ hàng đầu phân khúc. Ngoài ra, những trang bị an toàn tiên tiến giúp người lái luôn cảm thấy an tâm trên mọi hành trình.</p>

                <p style="text-align: justify">Đặc biệt, đây sẽ là lần đầu tiên Honda Việt Nam giới thiệu đến khách hàng phiên bản thể thao RS (Road Sailing) của Honda City. Là sự kết hợp của phong cách thể thao và sự tiện dụng hàng ngày của một mẫu xe gia đình, Honda City mới phiên bản RS đại diện cho tinh thần thể thao và không ngừng chinh phục thử thách của Honda, luôn hướng đến sự năng động, phóng khoáng trong sáng tạo nhưng vẫn theo đuổi đỉnh cao của sự hoàn mỹ, tinh tế.</p>

                <p style="text-align: justify"><b>II – NHỮNG GIÁ TRỊ NỔI BẬT CỦA CITY THẾ HỆ THỨ 5</b></p>

                <p style="text-align: justify">Xoay quanh định hướng “Chiếc sedan đầy tham vọng”, Honda City được phát triển dựa trên các giá trị “Thể thao cá tính – Tiện nghi hiện đại – Vận hành mạnh mẽ – Yên tâm cầm lái”.</p>

                <p style="text-align: justify"><b>THỂ THAO, CÁ TÍNH</b></p>

                <p style="text-align: justify">Tinh thần thể thao trong các thiết kế của Honda thể hiện rõ nét nhất ở vẻ ngoài. Bước sang thế hệ thứ 5, ngoại thất của Honda City mới được thiết kế với ý tưởng chủ đạo “Tạo sự khác biệt”.</p>

                <p style="text-align: justify">Honda City thế hệ mới có kích thước dài x rộng x cao lần lượt là 4.553mm x 1.748mm x 1.467mm, với chiều rộng & dài tăng lên lần lượt là 54mm, 113mm, đồng thời trọng tâm xe được hạ thấp 10mm so với phiên bản trước đó, càng làm tôn lên kiểu dáng đậm chất thể thao vốn có của dòng xe Honda.</p>

                <p style="text-align: justify">Đầu xe: Phần đầu xe của Honda City mới tiếp tục áp dụng ngôn ngữ thiết kế hình đôi cánh độc đáo của Honda, tạo nên phong cách thể thao và sang trọng cho chiếc xe. Cụm đèn trước với dải đèn LED chạy ban ngày gắn liền với hai thanh chrome hai bên tạo thành một khối vững chắc ở đầu xe. Khi đèn bật, ánh sáng trên dải đèn tạo thành một đường sắc nét trên đôi cánh, mang đến vẻ ngoài thời thượng, cao cấp. Đặc biệt, bản RS của Honda City mới càng nổi bật với mặt ca-lăng sơn đen cùng logo RS dập nổi đầy cá tính, cụm đèn trước Full LED hiện đại và cặp đèn sương mù LED.</p>

                <p style="text-align: justify">Thân xe: Đường gân dập nổi khỏe khoắn, mạnh mẽ chạy dọc thân xe từ dải đèn trước tới đèn hậu phía sau xe là một điểm nhấn nổi bật trên City mới, tạo cảm giác xe dài, rộng và cao cấp hơn. Nhìn từ hai bên, diện mạo của xe càng thêm cuốn hút với bộ la-zăng hợp kim 5 chấu kép 16 inch sang trọng được sơn 2 tông màu tương phản (RS), tạo vẻ ngoài thể thao ấn tượng. Bản L và G được trang bị la-zăng hợp kim 16 inch (L) và 15 inch (G) cắt gọt sắc cạnh, tinh tế.</p>

                <p style="text-align: justify">Đuôi xe: Honda City thế hệ thứ 5 được trang bị cụm đèn hậu LED lịch lãm với thiết kế góc cạnh, nhấn mạnh tạo hình thấp và rộng. Cản sau được thiết kế lại vững chãi hơn, tăng thêm vẻ đẹp trẻ trung và cá tính cho đuôi xe.</p>

                <p style="text-align: justify">Với 6 màu sắc ngoại thất đa dạng, trong đó bao gồm 2 lựa chọn hoàn toàn mới: Đỏ cá tính và Xanh đậm cá tính (RS, L), Honda City thế hệ thứ 5 chắc hẳn sẽ khơi nguồn cảm hứng cho khách hàng ngay từ ánh nhìn đầu tiên. Ngoài ra, bản RS là bản duy nhất có những chi tiết sơn đen độc quyền như: mặt ca-lăng đen bóng ở đầu xe, gương chiếu hậu và ăng-ten vây cá mập sơn đen, cánh lướt gió thể thao màu đen,…tất cả tạo nên vẻ đẹp thể thao, tràn đầy năng lượng, truyền cảm hứng cho những khách hàng có cá tính mạnh mẽ.</p>

                <p style="text-align: justify"><b>TIỆN NGHI HIỆN ĐẠI</b></p>

                <p style="text-align: justify">Không chỉ gây ấn tượng bởi vẻ ngoài thể thao, cá tính, Honda City mới còn mang lại cho khách hàng một trải nghiệm tuyệt vời với không gian rộng rãi, tinh tế cùng những trang bị hàng đầu phân khúc.</p>

                <p style="text-align: justify"><b>A – Không gian rộng rãi, tinh tế</b></p>

                <p style="text-align: justify">So với phiên bản hiện tại, City mới có kích thước dài, rộng hơn, tạo ra một không gian rộng rãi nhất phân khúc. Bên cạnh đó, bằng việc điều chỉnh lại thiết kế của hàng ghế trước, khoang để chân hàng ghế sau và khoảng cách từ đầu gối đến ghế trước đều tăng lên, mang lại không gian thoải mái và tầm nhìn thoáng đãng hơn cho hành khách ngồi sau.</p>

                <p style="text-align: justify">Bước vào bên trong Honda City mới, khách hàng sẽ nhanh chóng bị thuyết phục bởi thiết kế tinh tế, thân thiện với người dùng của khoang nội thất. Những chi tiết trang trí màu bạc điểm xuyết trên nền nội thất màu đen tạo nên sự tương phản bắt mắt. Khu vực táp lô được thiết kế gọn gàng, tăng cảm giác thoải mái đồng thời tạo ra tầm nhìn rộng rãi khi cầm lái. Ngoài ra, tầm nhìn của người lái cũng được cải thiện nhờ việc thay đổi vị trí gương chiếu hậu, giảm đi điểm mù tại cột A.</p>

                <p style="text-align: justify">Nhằm mang lại sự tiện nghi tối đa cho khách hàng, City mới tích hợp nhiều không gian chứa đồ cho hành khách như bệ tì tay trung tâm tích hợp ngăn chứa đồ ở hàng ghế trước (RS, L), hộc đựng chai nước (G), ngăn đựng tài liệu phía sau ghế lái và bệ tì tay tích hợp hộc đựng cốc ở hàng ghế sau (RS). Ghế ngồi được làm từ chất liệu da, da lộn kết hợp nỉ với viền chỉ đỏ thời thượng (RS), mang lại vẻ sang trọng cho khoang cabin.</p>

                <p style="text-align: justify"><b>B – Tiện nghi hàng đầu phân khúc</b></p>

                <p style="text-align: justify">Honda City thế hệ thứ 5 sở hữu những nâng cấp vượt trội về tiện nghi: Màn hình giải trí trung tâm hiện đại hơn với kích thước tăng từ 6,8 đến 8 inch lớn nhất phân khúc, được bổ sung thêm tính năng kết nối điện thoại thông minh Apple CarPlay và Android Auto; Hệ thống điều hòa có thể điều chỉnh dễ dàng bằng nút xoay và nút bấm “MAX COOL” cho phép đạt hiệu suất cao nhất một cách nhanh chóng; Cửa gió điều hòa thêm thoáng mát cho hàng ghế sau (RS, L); Đồng hồ tốc độ với thiết kế đầy tính thể thao; Nút điều chỉnh hệ thống âm thanh trên vô-lăng, Chìa khóa thông minh giúp mở cửa xe tự động (RS, L)…</p>

                <p style="text-align: justify">Đặc biệt, trên bản cao cấp RS, khách hàng có thể trải nghiệm những tiện nghi hàng đầu phân khúc: Hệ thống âm thanh 8 loa cho âm thanh trung thực; Chức năng khởi động xe từ xa đặc biệt hữu ích trong những ngày thời tiết nắng nóng; Cổng sạc điện được tích hợp trên cửa gió điều hòa phía sau,…</p>

                <p style="text-align: justify"><b>VẬN HÀNH MẠNH MẼ</b></p>

                <p style="text-align: justify">Bên cạnh những giá trị nổi bật về thiết kế, tiện nghi và công nghệ, lợi thế cạnh tranh khác biệt vốn được coi là bản sắc thương hiệu của các sản phẩm ô tô Honda chính là khả năng vận hành. Honda City thế hệ thứ 5 là sản phẩm của nỗ lực không ngừng cải tiến của Honda để mang đến cho khách hàng châu Á một mẫu sedan với cảm giác lái phấn khích cùng cảm giác an tâm trao trọn niềm tin khi trải nghiệm.</p>

                <p style="text-align: justify">Cả 3 phiên bản Honda City mới được trang bị động cơ 1.5L DOHC i-VTEC 4 xi lanh thẳng hàng, 16 van, sản sinh công suất cực đại 119Hp/6.600rpm và mômen xoắn cực đại 145Nm/4.300rpm cùng hộp số tự động vô cấp (CVT) ứng dụng công nghệ hiện đại, mang lại khả năng vận hành mạnh mẽ và hiệu suất tiêu thụ nhiên liệu tối ưu trong phân khúc, hứa hẹn cho người dùng trải nghiệm lái phấn khích, vốn là đặc điểm làm nên thương hiệu Honda Ôtô. Đồng thời, hệ thống hỗ trợ vận hành với những tính năng như: Lẫy chuyển số tích hợp trên vô lăng (RS), Chế độ lái xe tiết kiệm nhiên liệu (ECON Mode), Khởi động bằng nút bấm (RS, L),…sẽ giúp người lái thao tác nhanh chóng và thuận tiện hơn, tự tin làm chủ mọi hành trình.</p>

                <p style="text-align: justify">Hơn nữa, bằng việc áp dụng vật liệu cách âm có độ dày linh hoạt và công nghệ phun bọt cách âm, Honda City mới có khả năng cách âm vượt trội, giúp giảm thiểu độ ồn từ mặt đường dội vào bên trong khoang xe, cho người lái và hành khách không gian yên tĩnh, thư thái.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>


                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>