<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../../assets/css/noscript.css">
    </noscript>

</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/api/users/blog" class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/user">Home</a></li>

            <li><a href="/user-product/list">Cars</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="/api/users/about">About Us</a></li>
                    <li><a href="/api/users/team">Team</a></li>
                    <li><a href="/api/users/blog" class="active">News</a></li>
                    <li><a href="/api/users/testimonials">Testimonials</a></li>
                    <li><a href="/api/users/faq">FAQ</a></li>
                    <li><a href="/api/users/terms">Terms</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <p>22/7/2021</p>
            <h1>Đừng bỏ lỡ cơ hội sở hữu Honda HR-V 2020 phong cách thể thao, tiện nghi với ưu đãi vô cùng hấp dẫn lên tới 50 triệu đồng</h1>


            <div class="image main">
                <img style="height: 320px; width: 100%; object-fit: cover"
                     src="https://honda-longbien.net/uploads/libraries/kcfinder/upload/images/Moi-banner-CRV-2020.jpg"
                     class="img-fluid" alt="1"/>
            </div>

            <div>
                <p style="text-align: justify">Honda HR-V là sự kết hợp giữa phong cách thể thao trẻ trung, thời thượng, và sự linh hoạt, tiện dụng của một chiếc xe thành thị nhằm hướng đến những khách hàng thành đạt.</p>

                <p style="text-align: justify">Với không gian nội thất được thiết kế vô cùng tiện nghi, hệ thống điều hòa điều chỉnh bằng cảm ứng hiện đại cùng tính năng Magic seat độc đáo với 3 chế độ tùy chỉnh linh hoạt, kết hợp cửa sổ trời toàn cảnh Panorama, Honda HR-V mang đến cho khách hàng những trải phút giây thư thái trên mọi hành trình.</p>

                <p style="text-align: justify">Đặc biệt, Honda HR-V mới 2020 nay thêm tiện nghi với màn hình cảm ứng 7 inch mới với thiết kế giao diện hiện đại, hình ảnh sắc nét, đồng thời kết nối với điện thoại thông minh qua Apple Carplay và Android Auto, hứa hẹn sẽ đem lại trải nghiệm thú vị cho khách hàng.</p>

                <p style="text-align: justify">Ngoài phong cách thời thượng và tiện nghi, HR-V còn là mẫu xe SUV đô thị mang tính kinh tế cao cho người dùng với không gian rộng rãi, thoải mái cho 5 chỗ ngồi cùng hành lý. Được trang bị động cơ 1.8L, cùng các tính năng hỗ trợ lái xe tiết kiệm nhiên liệu như ECO Assist, Kiểm soát hành trình… Honda HR-V tự tin đáp ứng khả năng vận hành tối ưu trong mọi điều kiện di chuyển.</p>

                <p style="text-align: justify">Hãy đến ngay các Đại lý Honda Ôtô trên toàn quốc để được trực tiếp trải nghiệm Honda HR-V 2020 và nhận ưu đãi từ chương trình.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>


                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>