<!DOCTYPE HTML>
<html>
<head>
    <title>Cars Dealer Website</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../users/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../users/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../../users/css/noscript.css">
    </noscript>

</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a class="logo">
                <span class="fa fa-star" aria-hidden="true"></span> <span>The Daimler AG</span>
            </a>
            <!-- Nav -->
            <nav>
                <button style="float: right; width: 95px" id="sign-in" type="button" value="signIn">Login</button>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <!--    <nav>-->

    <!--        <h2>Menu</h2>-->
    <!--        <ul>-->
    <!--            <li><a href="index" class="active">Home</a></li>-->

    <!--            <li><a href="user-product/list">Cars</a></li>-->

    <!--            <li>-->
    <!--                <a href="#" class="dropdown-toggle">About</a>-->

    <!--                <ul>-->
    <!--                    <li><a href="about.html">About Us</a></li>-->
    <!--                    <li><a href="team.html">Team</a></li>-->
    <!--                    <li><a href="blog.html">Blog</a></li>-->
    <!--                    <li><a href="testimonials.html">Testimonials</a></li>-->
    <!--                    <li><a href="faq.html">FAQ</a></li>-->
    <!--                    <li><a href="terms.html">Terms</a></li>-->
    <!--                </ul>-->
    <!--            </li>-->
    <!--            <li><a href="contact.html">Contact Us</a></li>-->
    <!--        </ul>-->
    <!--    </nav>-->

    <!-- Main -->
    <div id="main">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="object-fit: cover" class="d-block w-100"
                         src="../../users/newImage/h1-1566386158.jpg" height="470"
                         width="100%"
                         alt="First slide">
                    <!--                    <div class="centered">All New Mercedes-Benz C300 AMG</div>-->
                </div>
                <div class="carousel-item">
                    <img style="object-fit: cover" class="d-block w-100"
                         src="../../users/newImage/h4-1566386187.jpg" height="470"
                         width="100%" alt="Second slide">

                </div>
                <div class="carousel-item">
                    <img style="object-fit: cover" class="d-block w-100"
                         src="../../users/newImage/h5-1566386199.jpg" height="470"
                         width="100%" alt="Fourth slide">

                </div>
                <div class="carousel-item">
                    <img style="object-fit: cover" class="d-block w-100"
                         src="../../users/newImage/h6-1566386212.jpg" height="470"
                         width="100%" alt="Fourth slide">

                </div>
                <div class="carousel-item">
                    <img style="object-fit: cover" class="d-block w-100"
                         src="../../users/newImage/h7-1566386225.jpg" height="470"
                         width="100%" alt="Fourth slide">

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <br>
        <br>

        <div class="inner">
            <!-- About Us -->
            <header id="inner">
                <h1>Find Your Favorite Car!</h1>
                <p style="text-align: justify">When we love, we always strive to become better than we are. When we
                    strive to become better than we are, everything around us becomes better too.
                    It's the possibility of having a dream come true that makes life interesting. And, when you want
                    something, all the universe conspires in helping you to achieve it.</p>
                <p style="float: right">The Alchemist - Paulo Coelho</p>
            </header>

            <br>

            <h2 class="h2">Featured Cars</h2>

            <!-- Cars -->
            <section class="tiles">
                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://xehay.vn/uploads/images/2020/6/1/xehay-bmw-m5-10062020-1_result.jpg"
                                             alt="alo"/>
									</span>
                    <a>
                        <h2>BMW M5</h2>
                        <br><br>
                        <p>
                            <del>$250 000</del>
                            <strong>$235 000</strong>
                        </p>
                    </a>
                </article>
                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://lh3.googleusercontent.com/proxy/iA-yI41ns7P-0ITP96uB6GFFZ347-l8fH4TlO5PLkCpQ_NvFUh0aLSt7DxWNrGl5uTHf1Es_poxIrWHimAXvJP-YFZB1GlUqnC5OU57ZTQ8SamWeGbIZ6GVK2NMU-YWgjSCGOz0WZHUurOqavDlb7ssttSlLQvnpK0VqzZ332i9GV3sMjR9tVQdoUg_MgjrPUtTPc3pIk-v0MCwg8SLFT9_LeN-P"
                                             alt="2"/>
									</span>
                    <a>
                        <h2>Mercedes-Benz GLC300</h2>
                        <br><br>
                        <p>
                            <del>$175 000</del>
                            <strong>$150 000</strong>
                        </p>
                    </a>
                </article>
                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://i.ytimg.com/vi/XXwISqVzmwY/maxresdefault.jpg" alt="3"/>
									</span>
                    <a>
                        <h2>Audi RS7</h2>
                        <br><br>
                        <p>
                            <del>$450 000</del>
                            <strong>$435 000</strong>
                        </p>
                    </a>
                </article>

                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://doanhnhanplus.vn/wp-content/uploads/2019/09/welovecar-bugatti-chiron-super-sport-300-2.jpg"
                                             alt="4"/>
									</span>
                    <a>
                        <h2>Bugatti</h2>
                        <br><br>
                        <p>
                            <del>$4 000 000</del>
                            <strong>$3 999 999</strong>
                        </p>
                    </a>
                </article>

                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://image.thanhnien.vn/1024/uploaded/bahung/z-ba-hung-2020/thang-7-2020/z-2-tuan-cuoi/sieu-xe-lamborghni/lamborghini-aventador-svj-xago_thanhnien_errn.jpg"
                                             alt="5"/>
									</span>
                    <a>
                        <h2>Lamborghini Aventador</h2>
                        <br><br>
                        <p>
                            <del>$510 000</del>
                            <strong>$500 000</strong>
                        </p>
                    </a>
                </article>

                <article>
									<span class="image">
										<img style="height: 210px; object-fit: cover"
                                             src="https://vcdn-vnexpress.vnecdn.net/2020/05/22/Kia-K5-1-4589-1590114294.jpg"
                                             alt=""/>
									</span>
                    <a>
                        <h2>Kia K5</h2>
                        <br><br>
                        <p>
                            <del>$33 000</del>
                            <strong>$32 500</strong>
                        </p>
                    </a>
                </article>

            </section>
            <br>
            <!--view all cars-->
            <p class="text-center"><a class="tuan">View Cars &nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
            <!--href="user-product/list"-->
            <br>

            <h2 class="h2">Testimonials</h2>

            <div class="row">
                <div class="col-sm-6 text-center">
                    <p class="m-n"><em>"When I tested the Rush car: “I think the Rush is quite good, the car is wide,
                        the steering wheel is light, the body is
                        for sure, the price is reasonable but need to improve the noise level further”. Ms. Hai is also
                        quite satisfied
                        Toyota services such as finance and insurance because her husband also owns one
                        Corolla Altis and service at Toyota Yen Nghia: “Toyota service in general is quite good, my
                        husband goes out to work quickly"</em></p>

                    <p><strong> - Mrs. Nguyen Thi Hai (Ha Đong, Ha Noi)</strong></p>
                </div>

                <div class="col-sm-6 text-center">
                    <p class="m-n"><em>"And after test driving the Vios is also quite satisfied with the
                        facilities and soundproofing: "The new Vios is more beautiful and modern, the
                        soundproofing is also better, but the test track too short to evaluate the certainty
                        as well as the acceleration”. "I also like Toyota's used car service, it helps consumers
                        save money compared to buying a new car but still feel secure about the quality because
                        it is warranted by Toyota." </em></p>

                    <p><strong>- Mr. Bui Duc Phuc (Thanh Xuan, Hanoi)</strong></p>
                </div>
            </div>

            <p class="text-center"><a class="tuan">Read More &nbsp;<i
                    class="fa fa-long-arrow-right"></i></a></p>
            <!--            href="testimonials.html"-->
            <br>

            <h2 class="h2">News</h2>

            <div class="row">
                <div class="col-sm-4 text-center">
                    <img style="height: 180px;width: 300px; object-fit: cover"
                         src="https://muaxegiatot.vn/wp-content/uploads/2020/07/gia-xe-honda-cr-v-2020-2021-lap-rap-muaxegiatot-vn-1.jpg"
                         class="img-fluid" alt=""/>

                    <h2 class="m-n"><a class="tuan">Honda Việt Nam giới thiệu phiên bản Honda CR-V LSE.</a></h2>

                    <p>05/7/2021 11:15</p>
                </div>

                <div class="col-sm-4 text-center">
                    <img style="height: 180px;width: 300px; object-fit: cover"
                         src="https://www.otosaigon.com/attachments/2020-honda-city-rs-preview-1-850x567-jpg.2325906/"
                         class="img-fluid" alt=""/>

                    <h2 class="m-n"><a class="tuan">Honda chính thức ra mắt Honda City thế hệ thứ 5.</a></h2>

                    <p>12/06/2021 10:30</p>
                </div>

                <div class="col-sm-4 text-center">
                    <img style="height: 180px;width: 300px; object-fit: cover"
                         src="https://cdn.honda.com.vn/news-car/November2020/z4E0yf45QSwgajlAoXee.jpg" class="img-fluid"
                         alt=""/>

                    <h2 class="m-n"><a class="tuan">Chiến dịch Honda Ôtô “Feel The Performance”.</a></h2>

                    <p>11/07/2020 8:15</p>
                </div>
            </div>

            <p class="text-center"><a class="tuan">Read More &nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
            <!--            href="blog.html"-->

        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Contact Us</h2>
                <form>
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>

                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>

                        <div class="field">
                            <input type="text" name="subject" id="subject" placeholder="subject"/>
                        </div>

                        <div class="field">
                            <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                        </div>

                        <div class="field text-right">
                            <label>&nbsp;</label>

                            <ul class="actions">
                                <li><input type="button" value="Send Message" class="tuan primary"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            <section>
                <h2>Contact Info</h2>

                <ul class="alt">
                    <li><span class="fa fa-envelope-o"></span> <a>d3t-codegym@gmail.com</a></li>
                    <li><span class="fa fa-phone"></span> +84 0986999999</li>
                    <li><span class="fa fa-map-pin"></span> Lô 15TT04, khu biệt thự MonCity, Hàm Nghi, Mỹ Đình 2, Nam Từ
                        Liêm, Hà Nội.
                    </li>
                </ul>

                <h2>Follow Us</h2>

                <ul class="icons">
                    <li><a class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>

            <ul class="copyright">
                <li>Copyright © 2021 D3T Production</li>
            </ul>
        </div>
    </footer>
</div>

<!-- Scripts -->
<script src="../../users/js/jquery.min.js"></script>
<script src="../../users/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../users/js/jquery.scrolly.min.js"></script>
<script src="../../users/js/jquery.scrollex.min.js"></script>
<script src="../../users/js/main.js"></script>
<script>
    $(document).ready(function () {
        $('#sign-in').click(function (e) {
            window.location.href = "/login"
        })

        $('.tuan').click(function (ev) {
            $('#modal_show_message').modal('show');
            setTimeout("$('#modal_show_message').modal('hide')", 2000);
        })
    })

</script>
<div class="modal fade" id="modal_show_message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--        <div class="modal-content">-->
        <!--            <div class="modal-header">-->
        <!--                <p style="margin-left: 150px;font-size: 25px;font-family: 'Apple Color Emoji',serif;border: none; color: red " class="modal-title" >You have to log in to use this feature!!</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="alert alert-danger" role="alert">
            <p style="margin-left: 70px;font-size: 20px;font-family: 'Apple Color Emoji',serif;border: none; color: red "
               class="modal-title">You have to log in to use this feature!!</p>
        </div>
    </div>
</div>
</body>
</html>